# Mail data
Mail/

# macOS
.DS_Store

# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/

# Environment
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
thoughts/


# Noam's files
noam_thoughts.md
emails
venv
Data



